{% extends 'core/base.html' %}
{% block title %}Reserva{% endblock %}
{% block content %}

<div class="container page-section cta text-center rounded justify-content-center align-items-center">
<div class = "col-lg-6 " style="margin-left: 25%">
        
<form action="#" class="credit-card-div">
  
    <div class="panel panel-default">
            
        <div class="panel-heading">
                
            <div class="row ">
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Ingresar Número de Tarjeta" />
                </div>
            </div>
            <div class="row ">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font"> Mes de Expiración</span>
                    <input type="text" class="form-control" placeholder="MM" />
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font"> Año de Expiración</span>
                    <input type="text" class="form-control" placeholder="YY" />
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font"> CCV</span>
                    <input type="text" class="form-control" placeholder="CCV" />
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <!--img src="assets/img/1.png" class="img-rounded" /-->
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 pad-adjust">

                    <input type="text" class="form-control" placeholder="Name On The Card" />
                </div>
            </div>
            
            <div class="row ">
                <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                    <input type="submit" class="btn btn-danger" value="Cancelar" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                    <input type="submit" class="btn btn-warning btn-block" value="Pagar" />
                </div>
            </div>

        </div>
    </div>
</form>
</div>
</div>


{% endblock %}