{% extends 'core/base.html' %}

{% load static %}

{% block title %}Contacto{% endblock %}

{% block content %}

<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-lg-12">

      <!-- Page Features -->
      <div class="row text-center">
        <form action="{% url 'pago' %}" method="POST">
          {% csrf_token %}
        {% for e in servicios %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="{{ e.image.url }}" alt="">
              <div class="card-body">
                <h4 class="card-title">{{e.nombre}}</h4>
                <p class="card-text">{{e.descripcion}}</p>
                <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Precio: {{e.precio}}</span>
                </h2>
              </div>
              <div class="card-footer" >
                <label class="btn btn-primary" for="{{e.id}}"<>Añadir a la reserva
                  <input style="opacity:0" type="checkbox" name="elegido" id= "{{e.id}}" value="{{e.id}}" >
                </label>
              </div>
            </div>
          </div>
        {% endfor %}
           <div class="row">
            <br>
            <br>
            <div class="col-lg-6 text-center">
              <input type="submit" class="btn btn-primary btn-block py-2" value="Enviar" >
            </div>
           </div>
        </form>
      </div>
      <!-- /.row -->
    </div>
  </div>


</div>
{% endblock %}